---
- name: "Create directory for etcd binaries"
  file:
    path: /opt/etcd/bin
    state: directory
    owner: root
    group: root
    mode: 0700

- name: "Download the tarball into the /tmp directory"
  get_url:
    url: https://storage.googleapis.com/etcd/v3.5.0/etcd-v3.5.0-linux-amd64.tar.gz
    dest: /tmp/etcd.tar.gz
    owner: root
    group: root
    mode: 0600
    force: True

- name: "Extract the contents of the tarball"
  unarchive:
    src: /tmp/etcd.tar.gz
    dest: /opt/etcd/bin/
    owner: root
    group: root
    mode: 0600
    extra_opts:
      - --strip-components=1
    decrypt: True
    remote_src: True

- name: "Set permissions for etcd"
  file:
    path: /opt/etcd/bin/etcd
    state: file
    owner: root
    group: root
    mode: 0700

- name: "Set permissions for etcdctl"
  file:
    path: /opt/etcd/bin/etcdctl
    state: file
    owner: root
    group: root
    mode: 0700

- name: "Add /opt/etcd/bin/ to the $PATH environment variable"
  lineinfile:
    path: /etc/profile
    line: export PATH="$PATH:/opt/etcd/bin"
    state: present
    create: True
    insertafter: EOF

- name: "Set the ETCDCTL_API environment variable to 3"
  lineinfile:
    path: /etc/profile
    line: export ETCDCTL_API=3
    state: present
    create: True
    insertafter: EOF

- name: "Add /opt/etcd/bin/ to the $PATH environment variable"
  lineinfile:
    path: ~/.bashrc
    line: PATH="$PATH:/opt/etcd/bin"
    state: present
    create: True
    insertafter: EOF

- name: "Set the ETCDCTL_API environment variable to 3"
  lineinfile:
    path: ~/.bashrc
    line: ETCDCTL_API=3
    state: present
    create: True
    insertafter: EOF

- name: "Create a etcd service"
  template:
    src: templates/etcd.service.j2
    dest: /etc/systemd/system/etcd.service
    owner: root
    group: root
    mode: 0644

- name: "Create a data directory"
  file:
    path: /var/lib/etcd
    state: directory
    owner: root
    group: root
    mode: 0755

- name: "Create directory for etcd configuration"
  file:
    path: /etc/etcd
    state: directory
    owner: root
    group: root
    mode: 0755

- name: "Create directory for etcd SSL configuration"
  file:
    path: /etc/etcd/ssl
    state: directory
    owner: root
    group: root
    mode: 0755

- name: "Create configuration file for etcd"
  template:
    src: templates/etcd.conf.yaml.j2
    dest: /etc/etcd/etcd.conf.yaml
    owner: root
    group: root
    mode: 0600

- name: "Coppy SSL for etcd"
  template:
    src: '{{ item.src }}'
    dest: "{{ item.dir }}/{{ item.dest }}"
    owner: root
    group: root
    mode: 0600
  with_items:
    - {dir: /etc/etcd/ssl, src: files/etcd-key.pem, dest: etcd-key.pem}
    - {dir: /etc/etcd/ssl, src: files/ca.pem, dest: ca.pem}
    - {dir: /etc/etcd/ssl, src: files/etcd.pem, dest: etcd.pem}

- name: "Enable the etcd service"
  command: systemctl enable etcd

- name: "Reload ETCD service"
  command: systemctl daemon-reload

- name: "Start the etcd service"
  command: systemctl restart etcd

- name: "Install calicoctl"
  command: curl -L https://github.com/projectcalico/calico/releases/download/v3.22.1/calicoctl-linux-amd64 -o calicoctl

- name: "executable calicoctl"
  command: chmod +x ./calicoctl

- name: "Copy the extracted binary file to be executable"
  shell: 'cp calicoctl /usr/local/bin/calicoctl'

- name: "Create directory for calicoctl configuration"
  file:
    path: /etc/calico
    state: directory
    owner: root
    group: root
    mode: 0755

- name: "Create configuration file for calicoctl"
  template:
    src: templates/calicoctl.cfg.j2
    dest: /etc/calico/calicoctl.cfg
    owner: root
    group: root
    mode: 0600

# - name: "Unlock ETCD"
#   shell: 'calicoctl datastore migrate lock && calicoctl datastore migrate unlock'
