[Unit]
Description=etcd distributed reliable key-value store

[Service]
Type=notify
ExecStart=/opt/etcd/bin/etcd --config-file /etc/etcd/etcd.conf.yaml --log-level {{etcd_log_level}} --log-outputs {{etcd_log_outputs}}
Restart=always