#----------------
# Docker compose 
#----------------
docker_compose_ver: "v2.20.2"

#----------------
# Image version 
#----------------
etcd_ver: "v3.5.9"
mongo_ver: "6.0-jammy"
be_ver: "v0.0.2"
fe_ver: "v0.0.2"
cli_ver: "v0.0.1"
watcher_ver: "v0.0.2"

#----------------
# Etcd 
#----------------
root_etcd_user: root
root_etcd_passwd: change_me_now
bamboofw_etcd_user: bamboofw
bamboofw_etcd_passwd: bamboofw_change_me_now
ca_cert: |
  -----BEGIN CERTIFICATE-----
  MIIByDCCAW6gAwIBAgIUTNsomS6Od2HglIQZfih+qLGgDfswCgYIKoZIzj0EAwIw
  QjELMAkGA1UEBhMCVk4xDzANBgNVBAgTBkhhIE5vaTELMAkGA1UEBxMCSE4xFTAT
  BgNVBAMTDGV0Y2QtY2x1c3RlcjAeFw0yMzA4MDIwOTMyMDBaFw0yODA3MzEwOTMy
  MDBaMEIxCzAJBgNVBAYTAlZOMQ8wDQYDVQQIEwZIYSBOb2kxCzAJBgNVBAcTAkhO
  MRUwEwYDVQQDEwxldGNkLWNsdXN0ZXIwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNC
  AAScYk3Shlv3ldRF1OjZgiUodHPAXvNfUivMuYoQeXIN70XEdTx3lNK7eteeKSYw
  fY7DBDkRssKYTl4UZTvTtHH8o0IwQDAOBgNVHQ8BAf8EBAMCAQYwDwYDVR0TAQH/
  BAUwAwEB/zAdBgNVHQ4EFgQUqF836HNiHCMiq3DpL/OWiMIOiaIwCgYIKoZIzj0E
  AwIDSAAwRQIhAJ1SxT+FiBDx/DhgzWoFahltKtldhgRFaT9e/p9HhrbfAiAawg4q
  uLd3LhpmB1lAurSxBgRnYucZ0micI8nbETjQGg==
  -----END CERTIFICATE-----
cert: |
  -----BEGIN CERTIFICATE-----
  MIICzTCCAnOgAwIBAgIUTyRxh9rOyzyzNwOX67d4eyIH+ycwCgYIKoZIzj0EAwIw
  QjELMAkGA1UEBhMCVk4xDzANBgNVBAgTBkhhIE5vaTELMAkGA1UEBxMCSE4xFTAT
  BgNVBAMTDGV0Y2QtY2x1c3RlcjAeFw0yMzA4MDIxMDEzMDBaFw0zMzA3MzAxMDEz
  MDBaMBcxFTATBgNVBAMTDGV0Y2QtY2x1c3RlcjCCASIwDQYJKoZIhvcNAQEBBQAD
  ggEPADCCAQoCggEBAJZzB/8fZppdtSi37OndPOOmHkrrNfA7AmEp3iB17SQ3TDlK
  6LcEU6IrMYBXU/0fV2wjNEshseTgCPtUdXuKBQI8pYP/5BTHp1wSBx6kNEtHRC0v
  mP18d4WVoQrpBAoyT0MFQm0Bng+eeVuSfaLP+YYK3YMENPAj9F/Rhd2Bwrmg6Udl
  Hr+E1ghyJztl0I0+fZ07ujqWNeON500NIj8xux0nYufApoiym9/uZ2QX1jTT3U+d
  fs/ZtSvbsLt8Iqjvw/TH5L/1qOBnBU3i8xPD9hTfLSfSegm4ZashqlUidkPF3GmC
  lXkPkwrbwRk2PTAM413RnV9n/+6CmelDI1ZNSDsCAwEAAaOBpjCBozAOBgNVHQ8B
  Af8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB
  /wQCMAAwHQYDVR0OBBYEFMCom1L2czA09x2e6RUqoFUpcfL1MB8GA1UdIwQYMBaA
  FKhfN+hzYhwjIqtw6S/zlojCDomiMCQGA1UdEQQdMBuCBWV0Y2QxggVldGNkMoIF
  ZXRjZDOHBH8AAAEwCgYIKoZIzj0EAwIDSAAwRQIhAJ5Ew6he5QSQ62/rIs3AL3/5
  hIbWJR+ElzCV6BSbncIkAiBj8vqaUABqGmUqhKBhHrrdlWcTYRD0862YMF420koR
  Ng==
  -----END CERTIFICATE-----
key: |
  -----BEGIN RSA PRIVATE KEY-----
  MIIEpAIBAAKCAQEAlnMH/x9mml21KLfs6d0846YeSus18DsCYSneIHXtJDdMOUro
  twRToisxgFdT/R9XbCM0SyGx5OAI+1R1e4oFAjylg//kFMenXBIHHqQ0S0dELS+Y
  /Xx3hZWhCukECjJPQwVCbQGeD555W5J9os/5hgrdgwQ08CP0X9GF3YHCuaDpR2Ue
  v4TWCHInO2XQjT59nTu6OpY1443nTQ0iPzG7HSdi58CmiLKb3+5nZBfWNNPdT51+
  z9m1K9uwu3wiqO/D9Mfkv/Wo4GcFTeLzE8P2FN8tJ9J6CbhlqyGqVSJ2Q8XcaYKV
  eQ+TCtvBGTY9MAzjXdGdX2f/7oKZ6UMjVk1IOwIDAQABAoIBADS8RYVLwG9DgYiw
  T7756anyRJQGNnXqeT8Nqeq+60zShUlf1IqyXY5ujX9rHOmQ3tfszxu2x+BuFzfh
  tvyCuJa8I1hNjekqwqMnPo+jByGL7X3ZPUs9IbgVZsmoO95HHDll0o7bDkhzSB6t
  DpTPSauOi26tPtEeCT689qtaHKNsFkB1szoGx+Pu2MQ4tTMYLFGYAuxMmi03kxPD
  oVvnvyZe7de82w+ovSYP2wQqBfveA4iCEvgvQudD1AVJTs5IpIgChdc1j59bh9Xk
  qD3FnFyUvdVmxE91F0cx4jKSz8juU6ExO2r4r5s3D0n0mhA/+aIxdPWHQ2RiLPx0
  vES1POECgYEAxv/sbgjqijB2HhtEQfUIO6lf6hZbg7oZBdEot32euFlT5+EXP7cz
  Kk1uGH994T7hDghDNHkSq31GHcWKGGNaYizqHXikpyyZ27FwH2o9Mi61aVXhAHs0
  o9gKgA0oSXnk5Hy4tvVKQRmQEk6TQv+s7XggFeAWvCIpv2PmCJ19g80CgYEAwYsM
  mNLXbuUPMg6B00nU/9OgYzG9uMiSybt417SATKX7SNkqBEy1SE7prICbF4fYhDqs
  2dk6Am64kv4tXqijNraJa4WYhQNVnmJntB6yM/u5w1m3D6n1N5dYf4FhQMLyKyXs
  5i319+ZvF8G4/2UV5hfaA4TjEAynHSH8DembBCcCgYEAh7kg7eNS47EtvlbmdP3E
  Ab0BV8yr2enhCyCeXpdk22LBYVMZ4jD2ypFI15iMqEWUhVeJTo6M9z1XxxJln0CT
  8oWjnzobQpGe1kHssOBqoIFO5WrXLNbbDixY7QEMSyDBxjxyVwZxAHmI05OXyIhM
  zyGw8HqHxwSd6JUf3Rxc8LkCgYBOobGSfUatdT6BNcelEgAJl+83ncPYyRRqBVKJ
  QHpHqb+3zxL1AD0+jWD+hpl8K+LZhgUn1MtupZEzlzTTmmwFFJAsMPDQSZSFbrF3
  SmlYGVNVfKOVJ5XK6iA4XVYnu4wr35Kpyc5+0w4bdsc0a9tDyjj26QxfPuS+P0pq
  VJh4TQKBgQCRzvDF9kAg9cRaRKiblvwhgJsgjBceCcSMxZmKdBfzKsl5SImC96gy
  WpT+7jNf/k3xRfNdcnstukv+TmAcuqRuMkO6mqa1sfO/QORi3mxiIWeDq0j3ZQSs
  zBz+pbigaACu5Yp822zgmoSw2VdLX9zGIdv5pyixpKRUePuJqpMCqQ==
  -----END RSA PRIVATE KEY-----

#----------------
# MongoDB 
#----------------
mongo_root_user: root
mongo_root_passwd: change_me
mongo_database: bamboofw

#----------------
# Bamboofirewall
#----------------
# admin_user: admin
admin_passwd: change_me_now
access_token: change_me_now
refresh_token: change_me_now

#-------------------------
# Bamboofirewall agent
#-------------------------
felix_log_file: /var/log/felix.log
felix_log_level: Info
felix_prometheus_port: 9091
felix_reporting_interval: 30

