FELIX_DATASTORETYPE=etcdv3
FELIX_LOGFILEPATH={{felix_log_file}}
FELIX_PROMETHEUSMETRICSPORT={{felix_prometheus_port}}
FELIX_PROMETHEUSMETRICSENABLED=true
FELIX_PROMETHEUSPROCESSMETRICSENABLED=true
FELIX_PROMETHEUSWIREGUARDMETRICSENABLED=false
FELIX_VXLANENABLED=false
ETCD_USERNAME={{ bamboofw_etcd_user }}
ETCD_PASSWORD={{ bamboofw_etcd_passwd }}
FELIX_HEALTHHOST={{ inventory_hostname }}
FELIX_PROMETHEUSMETRICSHOST={{ inventory_hostname }}
FELIX_DEVICEROUTESOURCEADDRESS={{ inventory_hostname }}
FELIX_DISABLECONNTRACKINVALIDCHECK=false
FELIX_ETCDCAFILE=/etc/calico/ssl/ca.pem
FELIX_ETCDCERTFILE=/etc/calico/ssl/etcd.pem
FELIX_ETCDKEYFILE=/etc/calico/ssl/etcd-key.pem
ETCD_CERT_FILE=/etc/calico/ssl/etcd.pem
ETCD_KEY_FILE=/etc/calico/ssl/etcd-key.pem
ETCD_CA_CERT_FILE=/etc/calico/ssl/ca.pem
FELIX_FAILSAFEINBOUNDHOSTPORTS=2379,2380
FELIX_FAILSAFEOUTBOUNDHOSTPORTS=2379,2380
FELIX_LOGSEVERITYFILE={{felix_log_level}}
FELIX_LOGSEVERITYSCREEN={{felix_log_level}}
FELIX_LOGSEVERITYSYS={{felix_log_level}}
FELIX_REPORTINGINTERVALSECS={{felix_reporting_interval}}
ETCD_ENDPOINTS=https://etcd1:2379,https://etcd2:2381,https://etcd3:2383
FELIX_ETCDENDPOINTS=https://etcd1:2379,https://etcd2:2381,https://etcd3:2383
